<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Login" value="DAN" />
	</appSettings>
	<connectionStrings>
		<add name="BankDatabase"
			 connectionString="TNS_ADMIN=C:\Users\user\Oracle\network\admin;USER ID=DAN;DATA SOURCE=localhost:1521/orcl;PERSIST SECURITY INFO=True;" />
	</connectionStrings>
</configuration>